// Colors
$primaryColor: rgb(240, 47, 48);
$secondaryColor: rgb(47, 130, 240);
$altSecondaryColor: rgb(149, 197, 255);
$secondaryColorShadow: rgba(47, 130, 240, 0.1);
$altSecondaryColorShadow: rgba(149, 197, 255, 0.1);
$bgColor: #ebe4d5;
$lightColor: #f1f1f1;
$midColor: #adadad;
$darkColor: #212121;
$bgDeco1Color: rgb(244, 206, 127);
$bgDeco2Color: rgb(245, 202, 80);

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$mainFontSize: 18px;
$mobileFontSize: 15px;
$h1FontSize: 60px;
$h2FontSize: 32px;
$h3FontSize: 22px;
$hugeFontSize: 150px;
$mainFontFamily: "Poppins", sans-serif;

// Breakpoints
$breakpointMobile: 425px;
$breakpointTablet: 768px;
$breakpointDesktop: 900px;
$breakpointDesktop2: 980px;

// Reset default styles
* {
    margin: 0;
    padding: 0;
}

// Importing components
@import "cards.scss";
@import "cards-open.scss";

html {
    background-color: $bgColor;
    background-image: url(https://previews.dropbox.com/p/thumb/ABFU372viSFLJdUAmHO6J2shNIH_OABiRj3DUdIqsHyNmaCpF5IxSAoYKXZ-qj7LWauT_qUqna90WDP1SbHkZEDCC7_57RnlfH5YjUtuGDJYVCuGX8AphBsHiJtj7XI0-nnFLat4BhvRwQJMsjcpXmMfCo_w_quKBQJqhT2Xfbtr3RsZjvQ_9CUUoWfeBePguunSW3QgXfq9wOUr4BV3CwJ9doWw7owIEQtMkr5SU4HWj9lSFb0gyhSE1Fogyk0VXn8mDk6RBoKKV5Hk4RRed3o89DCek-lZ265H3QlgjXiEN_nFzuLRhvfpmmdFEiBjQ6KGEdUvwaO-gIjpvMsdDDNIk-8Ev7Z3y5CrJjKofKf_tw/p.png?fv_content=true&size_mode=5);
    background-size: auto;
    background-position: center -200px;
    background-repeat: repeat-y;
}

body {
    padding: 50px 8vw;
    color: $darkColor;
    font-family: $mainFontFamily;
    font-size: $mainFontSize;
    font-weight: 500;
    h1 {
        color: $secondaryColor;
        font-size: $h1FontSize;
        font-weight: 500;
    }
    h2 {
        color: $secondaryColor;
        font-size: $h2FontSize;
        font-weight: 500;
        > & {
            text-align: center;
        }
    }
    h3 {
        color: $secondaryColor;
        font-size: $h3FontSize;
        font-weight: 500;
    }
    h4 {
        color: $secondaryColor;
        font-size: $mainFontSize;
        font-weight: 500;
    }
    a {
        color: $secondaryColor;
        text-decoration: none;
        border-radius: 3px;
        transition: 0.2s;
        &:hover {
            background-color: $altSecondaryColor;
        }
    }
    &.body--card_open {
        padding: 20px 0 0;
    }
}

header {
    text-align: center;
    padding: 0 0 20px;
    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            display: none;
            justify-content: center;
            align-items: center;
            margin-right: 20px;
            img {
                width: auto;
                height: 20px;
            }
        }
        h2 {
            color: $primaryColor;
        }
    }
    &.header--card_open {
        padding: 0 0 20px;
        .title a {
            display: flex;
            &:hover {
                background-color: initial;
            }
        }
        p {
            display: none;
        }
    }
}

// Error pages
.pageError {
    text-align: center;
    padding: 20px 0 0;
}

@media (min-width: $breakpointTablet) {
    body {
        padding: 5vw 8vw;
    }
    header {
        padding: 0 0 5vw;
        &.header--card_open {
            padding: 0 0 60px;
        }
    }
    .pageError {
        padding: 0;
    }
}

@media (min-width: $breakpointDesktop2) {
    body {
        padding: 50px 100px;
    }
    header {
        padding: 0 0 50px;
    }
}