@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

.pokemon_card {
  width: 84vw;
  margin-top: 70px;
  padding: 20px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #2f82f0;
  color: #f1f1f1;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 10px 20px rgba(47, 130, 240, 0.1);
          box-shadow: 0 0 10px 20px rgba(47, 130, 240, 0.1);
}

.pokemon_card__image {
  width: 70vw;
  height: 70vw;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: -40px;
  left: 7vw;
  background-color: #95c5ff;
  background-size: contain;
  background-position: center center;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 10px 20px rgba(149, 197, 255, 0.1);
          box-shadow: 0 0 10px 20px rgba(149, 197, 255, 0.1);
}

.pokemon_card__description {
  margin-top: -40px;
  padding-top: 70vw;
}

.pokemon_card__description h4 {
  padding: 10px 0 0;
  color: #adadad;
}

.pokemon_card__description ul li {
  list-style: none;
}

.pokemon_card__description__name {
  padding: 0;
  color: #f1f1f1;
}

@media (min-width: 768px) {
  .pokemon_card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 76vw;
    margin: 0 0 15vw 8vw;
    padding: 0;
  }
  .pokemon_card:first-of-type {
    margin: 5vw 0 15vw 8vw;
  }
  .pokemon_card__image {
    margin: -8vw 0 -8vw -8vw;
    width: 45vw;
    height: 66vw;
    position: initial;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .pokemon_card__description {
    min-height: 50vw;
    margin-top: 0;
    padding: 20px;
  }
}

@media (min-width: 900px) {
  .pokemon_card {
    margin: 0 auto 12vw;
    max-width: 650px;
  }
  .pokemon_card:first-of-type {
    margin: 4vw auto 12vw;
  }
  .pokemon_card__image {
    margin: -8vw 0 -8vw -1vw;
    width: 60vw;
    height: 60vw;
    max-width: 450px;
    max-height: 450px;
  }
  .pokemon_card__description {
    min-height: 38vw;
  }
}

@media (min-width: 980px) {
  .pokemon_card {
    margin: 0 auto 100px;
    max-width: 650px;
  }
  .pokemon_card:first-of-type {
    margin: 30px auto 100px;
  }
  .pokemon_card__image {
    margin: -70px ​0 -70px -10px;
    width: 460px;
    height: 460px;
    max-width: initial;
    max-height: initial;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .pokemon_card__description {
    min-height: initial;
    height: 400px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

html {
  background-color: #ebe4d5;
}

body {
  padding: 50px 8vw;
  color: #212121;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  background-image: url(../img/BG_img.png);
  background-size: auto;
  background-position: center -200px;
  background-repeat: repeat-y;
}

body h1 {
  color: #2f82f0;
  font-size: 60px;
  font-weight: 500;
}

body h2 {
  color: #2f82f0;
  font-size: 32px;
  font-weight: 500;
}

> body h2 {
  text-align: center;
}

body h3 {
  color: #2f82f0;
  font-size: 22px;
  font-weight: 500;
}

body h4 {
  color: #2f82f0;
  font-size: 18px;
  font-weight: 500;
}

body a {
  color: #2f82f0;
  text-decoration: none;
  border-radius: 3px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

body a:hover {
  background-color: #95c5ff;
}

header {
  text-align: center;
  padding: 0 0 20px;
}

header h2 {
  color: #f02f30;
}

@media (min-width: 768px) {
  body {
    padding: 5vw 8vw;
  }
  header {
    padding: 0 0 5vw;
  }
}

@media (min-width: 980px) {
  body {
    padding: 50px 100px;
  }
  header {
    padding: 0 0 50px;
  }
}
/*# sourceMappingURL=main.css.map */